@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit&family=Oswald&display=swap');
body {
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 18px;
    font-family: 'Anton', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.done {
    text-align: center;
    background-color: #38b000;
    width: 360px;
    color: #ffffff;
    font-size: 20px;
}

.err {
    text-align: center;
    background-color: #de0c0c;
    width: 360px;
    color: #ffffff;
    font-size: 25px;
}

.alert-err {
    text-align: center;
    background-color: #de0c0c;
    width: 520px;
    color: #ffffff;
    font-size: 25px;
}

.form {
    text-align: center;
    margin: 30px;
    padding: 20px;
}

.form-groub {
    border-top: 8px solid #c83e4d;
    border-radius: 15px;
    position: absolute;
    left: 37%;
    background-color: #0B3C49;
    width: 450px;
    height: 660px;
}

.form-groub-inputs {
    display: flex;
}

#day {
    font-size: 20px;
}

#month {
    font-size: 20px;
}

#year {
    width: 150px;
}

#country {
    height: 30px;
    font-size: 14px;
    width: 360px;
}

input {
    width: 360px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
    border: 2px solid #355070;
    background-color: #355070;
    color: #fee440;
    margin: 10px;
}

select {
    border-radius: 10px;
    background-color: #355070;
    color: #fee440;
}

button {
    width: 230px;
    height: 30px;
    color: #ffffff;
    font-size: 20px;
    background-color: #c81d25;
    border-radius: 15px;
    border: 1px solid #c81d25;
}

button:disabled {
    background-color: #0B3C49;
    border: 2px solid #0B3C49;
}